<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.loh.tally">

    <application
        android:name=".TallyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/TallyTheme">
        <activity
            android:name=".ui.main.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/TallyTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.authentication.activity.AuthenticationActivity"
            android:label="@string/app_name"
            android:theme="@style/TallyTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.presentations.main.activity.PresentationActivity"
            android:label="@string/title_activity_presentation"
            android:parentActivityName=".ui.main.activity.MainActivity"
            android:theme="@style/TallyTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.loh.tally.ui.main.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.presentations.poll.activity.PollActivity"
            android:label="@string/title_activity_poll"
            android:parentActivityName=".ui.presentations.main.activity.PresentationActivity"
            android:theme="@style/TallyTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.loh.tally.ui.presentations.main.activity.PresentationActivity"/>
        </activity>
        <activity
            android:name=".ui.chat.detail.activity.ChatActivity"
            android:label="@string/title_activity_chat"
            android:parentActivityName=".ui.presentations.poll.activity.PollActivity"
            android:theme="@style/TallyTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.loh.tally.ui.presentations.poll.activity.PollActivity"/>
        </activity>
    </application>

</manifest>